*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /* width: 100%; */
    /* height: 100%; */
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: hsl(257, 40%, 49%);
}

header{
    height: 46.7vh;
    width: 100%;
    padding: 1.1vh 9.7vw;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    /* flex-grow: 0.5; */
}

.Huddle-logo{
    height: 150px;
    width: 250px;
}

.mockups{
    width: 100%;
    height: auto;
    padding-top: 75px;
}

section{
    width: 100%;
    height: 25vh;
    padding: 42px 9.4vw 140px 9.4vw;
    /* flex-grow: 0.2; */
    /* position: relative; */
}

h1{
   color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 6.5vw;
   font-weight: 600;
   padding-bottom: 26px;
   line-height: 4.38vh;
}

.section-p{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.3vw;
    font-weight: 400;
    opacity: 0.9;
    line-height: 3vh;
    /* padding-bottom: 0.00000000000000000000000001vh; */
}

button{
    border-radius: 50px;
    width: 410px;
    height: 80px;
    font-size: 24.5px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    top: 21%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1px 7px 9px 0px hsla(259, 41%,32%, 0.603);
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
}

.socials .facebook,
.socials .twitter,
.socials .instagram {
    align-items: center;
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    height: 56px;
    width: 57px;
    justify-content: center;
    margin-left: 9px;
    margin-right: 9px;
    padding: 1px;
}

footer div a img {
    width: 25px;
    height: 25px;
}

.icon-facebook{
    height: 30px;
    width: 18px;
}

.icon-twitter{
    height: 20px;
    width: 20px;
}
/* .socials a{
    max-width: 100px;
    max-height: 100px;
    
    margin: 10px;
} */

/* .facebook{
    background-image: url(images/icon-facebook.svg);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
} */

/* .instagram{
    background-image: url(../images/icon-instagram.svg);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 50%;
    padding: 50px;
    box-sizing: content-box;
    /* margin: 50px; */


/* .socials img{
    width: 25px;
    max-width: 100%;
    height: 25px;
    max-height: 100%;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 9px;
    margin-right: 9px;
    padding: 10px;
    box-sizing: content-box;
    display: flex;
 } */

/* .attribution-container {
    position: relative;
  }  */

.attribution{
    color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    white-space: nowrap;
}

.attribution a{
    color: rgb(211, 163, 247);
}