*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* height: 100%; */
    /* min-height: 100%; */
    min-height: 100%;

}

body{
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: hsl(257, 40%, 49%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* min-height: 100vh; */
}

.header{
    min-height: 47.6vh;
    max-height: 1000px;
    width: 100%;
    padding: 1.1vh 9.1vw;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.Huddle-logo{
    width: 33.5vw;
    max-width: 100%;
    padding-top: 3vh;
}

.mockups{
    width: 100%;
    height: auto;
    margin-top: 7.3vh;
    display: block;
}

section{
    width: 100%;
    max-height: 1000px;
    /* height: 100%; *//* <-- esto causó que hubiera espacio vacío debajo de la página */
    padding: 2.5vh 8.95vw 0px 8.95vw;
    display: flex;
    flex-direction: column;
}

h1{
   color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 6.2vw;
   font-weight: 600;
   padding-bottom: 1.5vh;
   line-height: 9.5vw;
}

.section-p{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.2vw;
    opacity: 0.9;
    line-height: 6.3vw;
    padding-bottom: 3vh;
}

button{
    border-radius: 50px;
    width: 52vw;
    height: 10.5vw;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1px 6px 1vh 0.0vh hsla(259, 40%, 25%, 0.603);
    border-style: none;
    color: hsl(257, 40%, 49%);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 3.25vw;
}

button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-top: 8vh;
}

.socials .facebook,
.socials .twitter,
.socials .instagram {
    align-items: center;
    border: 0.09vh solid white;
    border-radius: 50%;
    display: flex;
    height: 7.5vw;
    width: 7.5vw;
    justify-content: center;
    /* espacio entre círculos */
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    /* espacio entre el círculo y el ícono */
    padding: 0.6rem;
    color: white;
}

.facebook:hover,
.twitter:hover,
.instagram:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
    border: 0.09vh solid hsl(300, 69%, 71%);
}

.icon-instagram{
    width: 1.5rem;
    height: 2.2rem;
}

.icon-facebook{
    height: 3.5vw;
    width: 5vw;
}

.icon-twitter{
    height: 2.8vw;
    width: 2.8vw;
}

.attribution{
    color: white;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    white-space: nowrap;
    padding-top: 8vh;
}

.attribution a{
    color: rgb(211, 163, 247);
}

@media (min-width: 1440px) {

    body{
        background-image: url(../images/bg-desktop.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        flex-direction: row;
    }

    .header{
        padding: 6vh 1vw 6vh 5vw;
        background-image: none;
    }

    .Huddle-logo{
        width: 15vw;
        padding-top: 0.5vh;
    }

    .mockups{
        max-height: 70vh;
        width: 49.5vw;
        padding-top: 3.1vh;
    }

    section{
        padding: 29.8vh 8vw 20vh 3vw;
        min-height: 100vh;
    }

    h1{
        text-align: left;
        font-size: 2.8vw;
        padding-bottom: 2.2vh;
        line-height: 7.4vh;
     }

     .section-p{
        text-align: left;
        font-size: 1.2vw;
        line-height: 3.6vh;
        padding-bottom: 2.7vh;
    }

    button{
        width: 13vw;
        height: 7.2vh;
        left: 20%;
        font-size: 2.3vh;
    }

    .socials{
        max-height: 1vh;
        position: relative;
        left: 24vh;
        top: 17.5vh;
    }
    
    .socials .facebook,
    .socials .twitter,
    .socials .instagram {
        height: 5vh;
        width: 5vh;
        border: 0.06vw solid white;
        /* espacio entre círculos */
        margin-left: 0.9vh;
        margin-right: 0.9vh;
    }

    .facebook:hover,
    .twitter:hover,
    .instagram:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
    border: 0.09vh solid hsl(300, 69%, 71%);
}

    .icon-instagram{
        width: 2.2rem;
        height: 2.2rem;
    }
    
    .icon-facebook{
        height: 1rem;
        width: 1.3rem;
    }
    
    .icon-twitter{
        height: 3rem;
        width: 2rem;
    }

    .attribution{
        font-size: 1.2vh;
        padding-top: 3vh;
        position: relative;
        top: 40%;
        left: 30%;
    }
}

@media (max-width: 240px) {
    .socials .facebook,
    .socials .twitter,
    .socials .instagram {
    /* espacio entre el círculo y el ícono */
    padding: 0.1rem;
    color: white;
    }

    .icon-instagram{
        width: 1.2rem;
        height: 0.5rem;
    }
}