*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: hsl(257, 40%, 49%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header{
    min-height: 46.5vh;
    max-height: 1000px;
    width: 100%;
    padding: 1.1vh 9.7vw;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.Huddle-logo{
    width: 35vw;
    max-width: 100%;
    height: auto;
    padding-top: 3vh;
}

.mockups{
    width: 100%;
    height: auto;
    margin-top: 7.5vh;
    display: block;
}

section{
    width: 100%;
    max-height: 1000px;
    /* height: 100%; *//* <-- esto causó que hubiera espacio vacío debajo de la página */
    padding: 2.5vh 10.4vw 0px 10.4vw;
    display: flex;
    flex-direction: column;
}

h1{
   color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 6.5vw;
   font-weight: 600;
   padding-bottom: 1.5vh;
   line-height: 10vw;
}

.section-p{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.4vw;
    opacity: 0.9;
    line-height: 6.3vw;
    padding-bottom: 3vh;
}

button{
    border-radius: 50px;
    width: 54vw;
    height: 5vh;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1px 6px 1vh 0.0vh hsla(259, 40%, 25%, 0.603);
    border-style: none;
}

.button_link{
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 3.25vw;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding-top: 7.6vh;
}

.socials .facebook,
.socials .twitter,
.socials .instagram {
    align-items: center;
    border: 0.09vh solid white;
    border-radius: 50%;
    display: flex;
    height: 3vh;
    width: 3vh;
    justify-content: center;
    /* espacio entre círculos */
    margin-left: 0.7vh;
    margin-right: 0.7vh;
    /* espacio entre el círculo y el ícono */
    padding: 1.6vh;
}

.icon-instagram{
    width: 1.6vh;
    height: 1.6vh;
}

.icon-facebook{
    height: 4vh;
    width: 1vh;
}

.icon-twitter{
    height: 1.34vh;
    width: 1.35vh;
}

.attribution{
    color: white;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8vh;
    white-space: nowrap;
    padding-top: 8vh;
}

.attribution a{
    color: rgb(211, 163, 247);
}

@media (min-width: 1440px) {

    body{
        max-height: 100vh;
        background-image: url(../images/bg-desktop.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        flex-direction: row;
    }

    header{
        padding: 6vh 1vw 6vh 5vw;
        background-image: none;
    }

    .Huddle-logo{
        width: 15vw;
        padding-top: 0.5vh;
    }

    .mockups{
        max-height: 70vh;
        width: 49.5vw;
        padding-top: 3.1vh;
    }

    section{
        padding: 29.8vh 6vw 20vh 3vw;
        min-height: 100vh;
    }

    h1{
        text-align: left;
        font-size: 2.8vw;
        padding-bottom: 2.2vh;
        line-height: 7.4vh;
     }

     .section-p{
        text-align: left;
        font-size: 1.305vw;
        line-height: 3.6vh;
        padding-bottom: 2.7vh;
    }

    button{
        width: 15vw;
        height: 7.1vh;
        left: 20%;
    }

    .button_link{
        font-size: 2.3vh;
    }

    .socials{
        max-height: 1vh;
        position: relative;
        left: 23vh;
        top: 17.5vh;
    }
    
    .socials .facebook,
    .socials .twitter,
    .socials .instagram {
        height: 5vh;
        width: 5vh;
        border: 0.06vw solid white;
        /* espacio entre círculos */
        margin-left: 0.9vh;
        margin-right: 0.9vh;
    }

    .icon-instagram{
        width: 2.2vh;
        height: 2.2vh;
    }
    
    .icon-facebook{
        height: 4vh;
        width: 1.3vh;
    }
    
    .icon-twitter{
        height: 1.82vh;
        width: 1.82vh;
    }

    .attribution{
        font-size: 1.2vh;
        padding-top: 3vh;
        position: relative;
        top: 40%;
        left: 30%;
    }
}