*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 40% 55% 5%;
    background-color: hsl(257, 40%, 49%);
}

header{
    height: 100%;
    width: 100%;
}

.Huddle-logo{
    height: 60px;
    width: 140px;
}